/* TO GET AN IDEA OF THE CSS YOU WILL LIKELY BE USING, SEE THE LISTS BELOW. */

        /* 
        
        Spacing 

            - padding (shorthand and/or specific properties like padding-bottom, etc.)

            - margin, (shorthand and/or specific properties like margin-top, etc.)

            - letter-spacing, word-spacing, line-height

            - width, max-width, min-width
            - height, max-height, min-height

        Typography 

            - font-family, font-size, font-style, font-weight

            - text-decoration, text-align

            - color

            - text-shadow, text-transform

        Box, Layout and Border 

            - border (shorthand and/or specific properties like border-top, border-bottom-radius, border-width, etc.)

            - box-shadow

            - display, float, align-items, align-content

            - grid-template-columns, grid-column-gap

            - transform

        Other

            - :nth()-child (to target specific child elements)

            - :focus, :hover, :active (to target link states)

            - @font-face or @import (to import typefaces)

        */


/* ------ START WRITING YOUR CODE BELOW ------ */

/*Imported Fonts */

@font-face {
    font-family: "ultra";
    src: url('../fonts/serif/ultra-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: "roboto";
    src: url('../fonts/serif/robotoslab-regular.ttf')format('truetype');
    font-weight: normal;
    font-size: normal;
}

@font-face{
    font-family: "josefins";
    src: url('../fonts/serif/josefinslab-regular.ttf')format('truetype');
    font-weight: normal;
    font-size: normal;
}

@font-face{
    font-family: "rozhaone";
    src: url('../fonts/serif/rozhaone-regular.ttf')format('truetype');
    font-weight: normal;
    font-size: normal;
}

@font-face{
    font-family: "montsrrat";
    src: url('../fonts/sans-serif/montserrat-regular.ttf')format('truetype');
    font-weight: normal;
    font-size: normal;
}
@font-face{
    font-family: "lato";
    src: url('../fonts/sans-serif/lato-regular.ttf')format('truetype');
    font-weight: normal;
    font-size: normal;
}

/* TYPOGRAPHY */

p {
    font-family: roboto, Arial, sans-serif;
}

h1, h2, h3, h4 {
    font-family: lato, Helvetica, sans-serif;
    letter-spacing: 0.0325rem;
}

h1 {
    font-size: 3rem;
    letter-spacing: 0.25rem;
    transform: rotate(-4deg);
    text-align: center;
}


.highlight {
    display: inline-block;
    font-family: ultra, Georgia, sans-serif;
    border: 1px solid black;
    padding: 1rem 2rem;
    border-radius: 0.3rem;
    border-top-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    color: #ccbf32;
    background-color: #7621c5;
    box-shadow: 5px 5px 4px -1px #f868e5;
}

button {
    display: inline-block;
    font-family: ultra, Georgia, sans-serif;
    border: 1px solid black;
    padding: 0.75rem 2rem;
    border-radius: 1rem;
    border-top-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    color: #c4c4c4;
    background-color: #3228be;
    box-shadow: 5px 5px 4px -1px #a85dee;
    font-size: 1rem;
}



/* GENRAL SETUP AND DEAFAULTS*/

*{
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body{
    margin: 1.5rem auto;
    width: 90%;
    min-width: 56.25rem;
}

.expand {
    font-size: 0.4rem;
}

/* LAYOUT */

header {
    padding: 0.5rem 0rem 1rem 0rem;
    background: #72e472;
}

nav {
    margin-top: 3rem;
}

.main-section {
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-gap: 1rem;
}

article {
    grid-column: 1 / 2;
    grid-row: 1;
}

aside {
    grid-column: 2 / 3;
    grid-row: 1;
    border-left: 1px solid #20112e;
    padding-left: 1rem;
}

aside p {
    border-bottom: 1px solid #20112e;
    padding-bottom: 0.5rem;
}

.subsection {
    display: flex;
    
}

/* IMAGES AND FIGURES */

img {
    width: 100%;
}

figure {
    margin: 0px;
}

.article-image {
    width: 33%;
    float: left;
    margin-right: 0.75rem;
}

.subsection {
    margin: 1rem 0rem;
}

.subsection figure {
    margin: 0rem 0.25rem;
    background-color: #D9D9D9;
}

.subsection figure figcaption {
    padding: 0.5rem 0.5rem;
}

/* LINKS AND NAVIGATION */

a {
    text-decoration: none;

    position: relative;
}

nav a {
    display: inline-block;
    padding: 1.25rem;
    font-size: 1.5rem;
    font-family: lato, Arial, sans-serif;
    color: #492e88;

  
}

nav a::before {
    content: '';
    display: block;
    height: 5px;
    width: 100%;
    background-color: rgb(157, 25, 209);
    position: absolute;
    top: 0;
    width: 0%;

    transition: all ease-in-out 350ms;

}

nav a:hover::before {
    width: 100%;
}

nav {
    border-top: 1px solid #20112e;
    border-bottom: 1px solid #20112e;
}







/* Footer Styles */

footer{
    bottom: 0.75px;
    width: 100%;
    background: rgb(37, 219, 143);
  }
  .main-content{
    display: flex;
  }
  .main-content .box{
    flex-basis: 50%;
    padding: 5px 20px;
  }
  .box h2{
    font-size: 1.125rem;
    font-weight: 600;
    text-transform: uppercase;
  }
  .box .content{
    margin: 20px 0 0 0;
    position: relative;
  }
  .box .content:before{
    position: absolute;
    content: '';
    top: -10px;
    height: 2px;
    width: 100%;
    background: #4c7dda;
  }
  .box .content:after{
    position: absolute;
    content: '';
    height: 2px;
    width: 15%;
    background: #d6bebe;
    top: -10px;
  }
  .left .content p{
    text-align: justify;
  }

  
  .center .content .fas{
    font-size: 1.4375rem;
    background: #1a1a1a;
    height: 45px;
    width: 45px;
    line-height: 45px;
    text-align: center;
    border-radius: 50%;
    transition: 0.3s;
    cursor: pointer;
  }
  .center .content .fas:hover{
    background: #207bf1;
  }
  .center .content .text{
    font-size: 1.0625rem;
    font-weight: 500;
    padding-left: 10px;
  }
  .center .content .phone{
    margin: 15px 0;
  }
  .right form .text{
    font-size: 1.0625rem;
    margin-bottom: 2px;
    color: #656565;
  }
  .right form .msg{
    margin-top: 10px;
  }
  .right form input, .right form textarea{
    width: 100%;
    font-size: 1.0625rem;
    background: #151515;
    padding-left: 10px;
    border: 1px solid #222222;
  }
  .right form input:focus,
  .right form textarea:focus{
    outline-color: #3498db;
  }
  .right form input{
    height: 35px;
  }
  .right form .btn{
    margin-top: 10px;
  }
  .right form .btn button{
    height: 40px;
    width: 100%;
    border: none;
    outline: none;
    background: #2051f1;
    font-size: 1.0625rem;
    font-weight: 500;
    cursor: pointer;
    transition: .3s;
  }
  .right form .btn button:hover{
    background: rgb(228, 241, 243);
  }
  .bottom center{
    padding: 5px;
    font-size: 0.9375rem;
    background: #7bb0c9;
  }
  .bottom center span{
    color: #656565;
  }
  .bottom center a{
    color: #1a579c;
    text-decoration: none;
  }
  .bottom center a:hover{
    text-decoration: underline;
  }
  